<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.cms.mapper.VcdTypeMapper">
    
    <resultMap type="VcdType" id="VcdTypeResult">
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
    </resultMap>

    <sql id="selectVcdTypeVo">
        select type_id, type_name from vcd_type
    </sql>

    <select id="selectVcdTypeList" parameterType="VcdType" resultMap="VcdTypeResult">
        <include refid="selectVcdTypeVo"/>
        <where>  
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectVcdTypeByTypeId" parameterType="Long" resultMap="VcdTypeResult">
        <include refid="selectVcdTypeVo"/>
        where type_id = #{typeId}
    </select>
        
    <insert id="insertVcdType" parameterType="VcdType" useGeneratedKeys="true" keyProperty="typeId">
        insert into vcd_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">#{typeName},</if>
         </trim>
    </insert>

    <update id="updateVcdType" parameterType="VcdType">
        update vcd_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <delete id="deleteVcdTypeByTypeId" parameterType="Long">
        delete from vcd_type where type_id = #{typeId}
    </delete>

    <delete id="deleteVcdTypeByTypeIds" parameterType="String">
        delete from vcd_type where type_id in 
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
</mapper>